*.bak
*.swp
aws-android-sdk*.jar
aws-android-sdk*.aar

# build artifact
target
lint.xml
gen/
bin/
.project
.classpath
.settings
project.properties
local.properties
proguard-project.txt
build.xml
.gradle
.idea
build/
*.iml
