<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazonaws.demo.s3transferutility"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="com.amazonaws.demo.s3transferutility.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amazonaws.demo.s3transferutility.DownloadActivity"
            android:label="@string/download_activity" />
        <activity
            android:name="com.amazonaws.demo.s3transferutility.UploadActivity"
            android:label="@string/upload_activity" />
        <activity
            android:name="com.amazonaws.demo.s3transferutility.DownloadSelectionActivity"
            android:label="@string/download_selection_activity" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>